head {
  text-align: center;
  font-family: Helvetica;
}

body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.background {
  background-image: url('../images/the-flatiron-building.png');
  color: white;
}

.nav {

}

#footer {
  text-align: left;
  color: white;
  baground-color: dimgray;
}
